$primary: #6c757d;
$pagination-color: #6c757d;
$pagination-active-bg: #6c757d;
$pagination-active-border-color: #6c757d;
@use "bootstrap/scss/bootstrap";


.form-label.required::after {
    content: " *";
    color: var(--bs-danger);
}
